<div class="container">
  <div class="row">
  <div class="col-lg-8 d-flex align-items-center">
    <div>
      ようこそながのCAKEへ</br>
      このサイトはケーキ販売のECサイトになります。</br>
      会員でない方も商品の閲覧はできますが、</br>
      購入には会員登録が必要になります。
    </div>
  </div>

<div class="col-lg-8">
<h4>新着商品</h4>
<% @items.each do |item| %>
  <div class="form-group">
    <%= image_tag item.get_item_image(100,100) %></br>
    <%= item.name %></br>
    ￥<%= item.price %>
  </div>
<% end %>

<div>
<%= link_to "全ての商品を見る", items_path %>
</div>

</div>
</div>
</div>